.navbar{
    border-bottom: 2px solid black;
}

.nav-link{
    font-weight: bold;
}

.nav-link:hover{
    background-color: tomato;
    color: white;
}
.footer{
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

body{
        background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.btn:hover{
    background-color: red;
    border-color: red;
}

h2{
    margin-bottom: 30px;
}

.profile-img{
    width:250px;
    height:250px;
    object-fit:cover;
}

.timeline{
    border-left:4px solid #0d6efd;
    padding-left:25px;
}

.timeline-item{
    margin-bottom:30px;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.btn:hover{
    background:red;
    border-color:red;
}
.project-image{
    height:200px;
    object-fit:cover;
    padding:20px;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.btn:hover{
    background:red;
    border-color:red;
}
.project-banner{
    width:300px;
}

.screenshot{
    height:250px;
    width:100%;
    object-fit:cover;
    border:1px solid lightgray;
    padding:15px;
}

.timeline{
    border-left:4px solid blue;
    padding-left:20px;
}

.timeline-item{
    margin-bottom:25px;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card{
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

img{
    margin:10px;
}

.btn:hover{
    background-color:black;
    border-color:red;
}
